* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle, #ff4b7d, #b3003c);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Card */

.card {
  width: 400px;
  padding: 35px;
  background: rgba(255,255,255,0.15);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.card h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.card p {
  margin: 10px 0;
  font-size: 16px;
}

/* Timer */

#timer {
  margin-top: 15px;
  background: rgba(0,0,0,0.3);
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

/* GIF */

.gif {
  width: 150px;
  margin-top: 20px;
}

/* Button */

#saveBtn {
  margin-top: 25px;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  background: white;
  color: #d10047;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

#saveBtn:hover {
  transform: scale(1.05);
}
